<div id="add-buttons"><!-- flex container -->
  <button id="addL">
    {% include '_glyphL.njk' %}
    <span class="sr-only">add left glyph</span>
  </button>
  <button id="addR">
    {% include '_glyphR.njk' %}
    <span class="sr-only">add right glyph</span>
  </button>
</div>
<div id="color-pickers">
  <!-- flex container -->
  <button id="redBtn" class="picker"><span class="sr-only">red</span></button>
  <button id="orangeBtn" class="picker "><span class="sr-only">orange</span></button>
  <button id="yellowBtn" class="picker"><span class="sr-only">yellow</span></button>
  <button id="greenBtn" class="picker"><span class="sr-only">green</span></button>
  <button id="blueBtn" class="picker"><span class="sr-only">blue</span></button>
  <button id="indigoBtn" class="picker"><span class="sr-only">indigo</span></button>
  <button id="violetBtn" class="picker"><span class="sr-only">violet</span></button>
</div>