  <div>
    <ol class="instructions">
      <li>click above to add glyphs to screen</li>
      <li>click on a glyph to select it</li>
      <li>click on a color button above to change the color of the selected glyph</li>
    </ol>
  </div>