---
layout: base.njk
title: ephemeral pattern generator
---

<main class="container"><!-- flex container -->
  <h1>ephemeral pattern generator</h1><!-- flex child -->
    <section id="output"><!-- flex child -->
      <div id="glyph-container" class="container"></div>
    </section><!-- flex child -->
</main>