@use '_utilities' as u;

$boxBase: 2;
$doubleBoxBase: u.boxMultiplier($boxBase, 2);
$tripleBoxBase: u.boxMultiplier($boxBase, 3);
$quadBoxBase: u.boxMultiplier($boxBase, 4);

#output {
  aspect-ratio: 1;
}

#glyph-container {
  justify-content: flex-start;
  align-content: flex-start;
  gap: #{u.$widthOfGap}px;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
}

.glyph {
  align-self: flex-start;
  flex: 0
    calc(
      #{u.nomBoxWidth($boxBase)}% - #{u.adjBoxWidth($boxBase, u.$widthOfGap)}px
    );
  aspect-ratio: 1;
  @media screen and (min-width: 440px) {
    flex-basis: calc(
      #{u.nomBoxWidth($doubleBoxBase)}% - #{u.adjBoxWidth(
          $doubleBoxBase,
          u.$widthOfGap
        )}px
    );
  }
  @media screen and (min-width: 710px) {
    flex-basis: calc(
      #{u.nomBoxWidth($quadBoxBase)}% - #{u.adjBoxWidth(
          $quadBoxBase,
          u.$widthOfGap
        )}px
    );
  }
}
