@use '_utilities' as u;
@use '_reset';
@use '_typography';
@use '_flex';
@use '_glyphs';

$boxBase: 2;
$doubleBoxBase: u.boxMultiplier($boxBase, 2);
$tripleBoxBase: u.boxMultiplier($boxBase, 3);
$quadBoxBase: u.boxMultiplier($boxBase, 4);

body {
  background-color: #fffff0;
}

main {
  max-width: clamp(280px, calc(100vw - 110px), 600px);
  margin: 0 auto;
}

section {
  flex-grow: 1;
  flex-basis: 100%;
}

.label {
  align-self: center;
}

.instructions {
  padding: 0;
  margin-left: 12.5px;
}

#controls {
  margin-top: 50px;

  p,
  ol {
    padding-left: calc(#{u.$widthOfGap}px * 4);
  }
}

#add-buttons {
  margin: 1rem 0;
  justify-content: space-between;
  flex-basis: 100%;
  gap: #{u.$widthOfGap}px;
}

#add-buttons button .icon {
  width: 3.125rem;
  height: 3.125rem;
  padding: 4px;
}

#add-buttons button {
  padding: #{u.$widthOfGap}px;
  border: none;
  flex: 0
    calc(
      #{u.nomBoxWidth($boxBase)}% - #{u.adjBoxWidth($boxBase, u.$widthOfGap)}px
    );
  background: #00000f;
  justify-content: center;
  gap: #{u.$widthOfGap}px;
  color: #fffff0;
}

#add-buttons svg line {
  stroke: #999;
}

#color-pickers {
  flex-basis: 100%;
  justify-content: flex-start;
  gap: #{u.$widthOfGap}px;
  margin: 1rem 0;
}

.picker {
  height: 3.125rem;
  flex: 0
    calc(
      #{u.nomBoxWidth($doubleBoxBase)}% - #{u.adjBoxWidth(
          $doubleBoxBase,
          u.$widthOfGap
        )}px
    );
  border: none;
}

#redBtn {
  background: red;
}

#orangeBtn {
  background: orange;
}

#yellowBtn {
  background: yellow;
}

#greenBtn {
  background: green;
}

#blueBtn {
  background: blue;
}

#indigoBtn {
  background: indigo;
}

#violetBtn {
  background: violet;
}

#output {
  position: relative;
  padding: 10px;
  background-color: #0f0f0f;
}

/* https://css-tricks.com/gradient-borders-in-css/ */
#output::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -10px;
  z-index: -1;
  background: linear-gradient(
    123deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

// #glyph-container {
//   max-height: 425px;
//   overflow: hidden;
// }

.glyph line {
  stroke: #999;
}

.glyph-selected line {
  stroke: cyan;
}

.red-glyph line {
  stroke: red;
}

.orange-glyph line {
  stroke: orange;
}

.yellow-glyph line {
  stroke: yellow;
}

.green-glyph line {
  stroke: green;
}

.blue-glyph line {
  stroke: blue;
}

.indigo-glyph line {
  stroke: indigo;
}

.violet-glyph line {
  stroke: violet;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
